.App {
  text-align: center;
}

.page-info {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  text-transform: none;
  font-size: 19px;
  font-weight: 700;
  text-align: center;
}

.page-info2 {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  text-transform: none;
  font-size: 9px;
  text-align: center;
}

.page-info-hint {
  color: red;
  font-family: "Inter", sans-serif;
  text-transform: none;
  font-size: 8px;
  text-align: center;
  margin-bottom: 120px;
}

.tower_wrap {
  align-items: center;
  justify-content: center;
  margin-top: 30vh;
}

.towers {
  display: flex;
  gap: 40px;
  flex-direction: row;
  justify-content: center;
}

.tower {
  color: #fff;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
  position: relative;
  width: 60px;
}

.tower.selected .line {
  background: yellow;
}
.tower .line {
  position: absolute;
  height: 100px;
  width: 2px;
  background: white;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
}

.tower:hover .line {
  background: red;
}

.disc {
  height: 5px;
  background: #ccc;
  width: 100px;
}

.discs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  justify-content: end;
  height: 100%;
}

.resetButton {
  margin-top: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
